body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  font-family: Archer Pro, book;
}

.header-container {
  display: flex;
  width: 30rem;
  align-items: center;
  margin-left: 10rem; 
}
.logo{
  margin-top: 0.2em;
  opacity: 1;
}
.menu {
  display:flex;
  flex-direction: row;
  margin-top: 3px;
}
.list {
  display: flex;
  margin-left: 1rem;
}
.list li {
  font-size: 20px;
  color: #333; 
  padding: 5px 10px; 
  list-style: none;
}
.list li:hover {
  background-color: #f5f5f5; /* Define uma cor de fundo ao passar o mouse sobre as li's */
}
.list li a {
  text-decoration: none; /* Remove a decoração de link (sublinhado) */
  color: #333; /* Define a cor do link */
}
.perfil-marketplace {
  display: flex;
  align-items: center;
  font-family: ;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 6em;
}
.icons  {
  display: flex;
}



