.mobile-image3 {
    display: none;
}

.banner-know {
    width: 100%;
  }
  
  .image-container-know {
    position: relative;
    display: flex;
    /* height: 25rem; */
    margin-bottom: 5%;
    justify-content: center;
}
  
.desktop-image3 {
  width: 90%;
  height: 24rem;
}
.banner-content-know {
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
}
  
  .banner-content-know h1 {
    font-size: 35px;
}
  
.banner-content-know p {
    font-size: 31px;
    margin-top: 2%;
    width: 69%;
    color: #71D8FF;
}
  
  .mobile-button4 {
    margin-top: 20px;
  }
  
  .button-mobile4 {
    width: 25%;
    height: 50px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}
  