.on-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 12rem;
    margin-bottom: 6%;
}
.text6 {
        display: flex;
        flex-direction: column;
        width: 26%;
    }

.menu-divider3 {
    display: none;
}
.text6 p{
    margin-top: 5%;
    font-family: serif;
    font-size: 16px;
}
.text6 h1 {
        font-size: 18px;
}

.input-container {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 6%;
}
.input form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;
    gap: 23px;
    /* margin-top: 2%; */
    height: 100%;
    margin-top: 46px;
}
.input {
    width: 83%;
    display: flex;
    gap: 1%;
}
.input h1 {
    width: 50%;
    font-size: 31px;
    color: #033244;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.input p {
    width: 58%;
    font-size: 26px;
    margin-top: 4%;
    color: #0089BC;
}
.input form input {
    height: 57px;
    border-block-color: blue;
    border-radius: 7px;
}
.button-mobile5 {
    width: 39%;
    height: 50px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}
.mobile-button5 {
    margin-top: 20px;
}
@media (max-width: 1360){
    .title h1 {
        text-align: start;
        width: 60%;
        color: #033244;
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 38px;
    }
    .input h1 {
        width: 37%;
        font-size: 31px;
        color: #033244;
    }
    .desktop-image3 {
        width: 85%;
        height: 24rem;
      }  
}