.title div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    font-size: medium;
    font-weight: bolder;
}
.title h1{
   text-align: center;
   width: 56%;
   color: #033244;
   font-family: 'Space Mono', monospace;
   font-weight: 900;
}
.service-tite {
  display: flex;
    justify-content: center;
    font-size: larger;
    flex-direction: column;
}
.service-tite h1 {
  display: flex;
    justify-content: center;
    font-size: larger;
}
.service-container h1 span {
    color: #00AEEF;
  }
  .service-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrossel-container {
    width: 15%;
    overflow: hidden;
    position: relative;
  }
  .carrossel  {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}
  .carrossel-slide {
    flex: 0 0 100%;
  }  
  .carrossel-slide img {
    width: 100%;
    height: 22%;
  }
  .carrossel-prev,
  .carrossel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(242, 238, 238, 0.5);
    color: black;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .carrossel-prev {
    left: 10px;
  }
  .carrossel-next {
    right: 10px;
  }
  
  
  