.carrossel-container-services {
  width: 100%;
  overflow: scroll;
  position: relative;
  margin-top: 1%;
  padding: 0;
  margin-bottom: 0%;
  display: flex;
  height: 51rem;
  justify-content: center;
}
.carrossel-navigation {
  display: none;
}
.carrossel-slide-services {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #283137;
  font-size: 27px;
  color: #676767;
  height: 52rem;
  width: 100%;
  gap: 39px;
}
.carrossel-slide-services h1 {
    font-size: 28px;
    margin-left: 3%;
    color: white;
}
.carrossel-slide-services p {
  margin-left: 3%;
  color: white;
  width: 25rem;
}
.carrossel-slide-services a {
  MARGIN-LEFT: 3%;
  color: #00AEEF;
  text-decoration: none;
}
.carrossel-services {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 23px;
  width: 100%;
  gap: 4%;
}
.title-services h1 {
  text-align: center;
  width: 100%;
  color: #033244;
  font-size: 38px;
  font-family: 'Roboto Slab';
}
.title-services span {
  text-align: center;
  width: 100%;
  color: #0089BC;
  font-family: 'Roboto Slab';
  font-size: 21px;
}
.carrossel-slide-services img{
    height: 55%;

}

.title span{
  font-size: 40px;
  color: #00AEEF;
}
