* {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    
}

header {
    background-color: #faf9f9;
    width: 100%;
}

nav a {
    font-weight: bold;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;  
    align-items: center;
}

nav ul li a {
    color: #080707;
    text-decoration: none;
    align-items: center;
    font-weight: 100    ;
}


@media (max-width: 1404px) {
    .title h1 {
        text-align: start;
        width: 93%;
        color: #033244;
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 38px;
    }

}

@media (max-width: 1724){
    .title h1 {
        text-align: start;
        width: 60%;
        color: #033244;
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .carrossel-slide-products h1 {
        font-size: 7px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        width: 60px;
        text-align: center;
    }
    .title h1 {
        text-align: center;
        width: 100%;
        color: #033244;
        font-size: 27px;
        font-family: 'Roboto Slab';
    }
    .menu-divider {
        width: 74%;
        height: 1px;
        background-color: #5eb7f2;
        margin: -11px 0;
        margin-top: -4px;
    }
    .menu-divider2 {
        color: #0089BC;
        width: 102%;
        background-color: #0089BC;
        height: 2px;
    }
    
    .carrossel-prev {
        left: -14px;
        color: #033244;
        position: absolute;
    }
    .carrossel-next {
        left: 66px;
        color: #033244;
        position: absolute;
    }

.service-container h1 span {
    color: #00AEEF;
    font-size:27px ;
    font-weight: 800;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    flex-direction: column;
    width: 63%;
}

.service-container {
    display: flex;
    flex-direction: column;
    height: 38rem;
}

    .menu-toggle {
        display: flex;
    }
    .main-nav-second {
        display: none;
    }
    .mobile-logo {
        display: flex;
    }
    .logo img {
        display: none;
    }
    nav ul {
        display: none;
    }

    .secondary-menu {
        display: flex;
    }

    .dia-dia {
        display: none;
    }

    .dropdown-menu {
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .dropdown-menu li {
        margin-bottom: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown.active .dropdown-menu {
        display: block;
    }

    .mobile-icons {
        display: flex;
    }

    .desktop-header {
        display: block;
    }
    .carrossel-slide img {
        width: 100%;
        height: 106px;
        display: flex;
        margin-top: 34%;
    }
.service-tite h1 {
        display: flex;
        justify-content: center;
        font-size: larger;
        font-weight: 900;
    }
    .title2 {
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }
   .carrossel-slide p {
    font-size: 14px;
    font-family: math;
    text-align: center;
    
}
.carrossel-slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
}

   .button-explorer {
    top: 1106px;
    left: 300px;
    width: 181px;
    height: 36px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 1rem;
    display: none;
}
.carrossel-container {
    width: 28%;
    overflow: scroll;
    position: relative;
    margin-top: -2%;
    padding: 0;
}
    .carrossel {
        display: flex;
        transition: transform 0.3s ease-in-out;
        align-items: center;
        width: 11rem;
    }
    
    .products-container {
    display: flex;
    flex-direction: column;
}
.title-products {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    flex-direction: column;
    width: 100%;
    margin-bottom: -2%;
    height: 5rem;
}
.title-products h1 {
    text-align: center;
    width: 72%;
    color: #033244;
    font-size: 29px;
    font-family: 'Roboto Slab';
}
.products-container h1 span {
    color: #00AEEF;
    font-size: 29px;
    font-weight: 800;
}

.button-mobile {
    top: 1106px;
    left: 300px;
    width: 181px;
    height: 36px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.button-mobile2 {
    width: 64%;
    height: 36px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 8%;
}

.mobile-button {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: -3%;
    margin-top: 3%;
}
.carrossel-container-products {
    width: 100%;
    overflow: scroll;
    position: relative;
    margin-top: 1%;
    padding: 0;
    margin-bottom: 0%;
    height: 5rem;
    margin-left: 0;
} 
.carrossel-products {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: #F3F3F3;
}
.carrossel-services {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 23px;
    width: 93%;
    gap: 4%;
}
.carrossel-slide-services {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #283137;
    font-size: 30px;
    color: #676767;
    height: 36rem;
    width: 36rem;
    gap: 39px;
}
.carrossel-container-services {
    width: 100%;
    overflow: scroll;
    position: relative;
    margin-top: 1%;
    padding: 0;
    margin-bottom: 9%;
    display: flex;
    height: 51rem;
    justify-content: center;
    height: 38rem;
}
.carrossel-slide-services h1 {
    font-size: 28px;
    margin-left: 2%;
    color: white;
}
.carrossel-slide-services p {
    margin-left: 2%;
    color: white;
    width: 25rem;
}
.carrossel-products-prev {
    left: -14px;
    color: #033244;
    position: absolute;
}
.carrossel-products-next {
    left: 66px;
    color: #033244;
    position: absolute;
}
.carrossel-slide-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcb6b6;
    font-size: 30px;
    color: #676767;
}
.banner-recruit {
    position: relative;
    display: -webkit-inline-box;
    /* justify-content: center; */
    margin-bottom: 16%;
    width: 87%;
    height: 21rem;
    margin-top: 9px;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 28rem;
    margin-top: 10%;
}
.banner-recruit-main {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 31rem;
}

.banner-content {
    position: absolute;
    top: 38%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: start;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
}
.banner-content h1 {
    font-size: 22px;
    width: 15rem;
    margin-bottom: 9%;
    color: #033244;
    text-align: center;
    margin-top: 9%;
}
.banner-content p {
    font-size: 21px;
    width: 100%;
    color: #005271;
    height: -6rem;
}
  .button-mobile3 {
    top: 1106px;
    left: 300px;
    width: 69%;
    height: 36px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-button2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.service-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6%;
}
.service-section h1 {
    display: flex;
    justify-content: center;
    font-size: 29px;
}
.service-section p {
    font-family: 'Roboto Slab';
    color: #0089BC;
    font-size: 23px;
    margin-top: 1%;
}
 .service-section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16%;
}
.section-columns {
    background-color: #033244;
    width: 90%;
    max-height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 35rem;
}
.text-service {
    width: 90%;
    margin-left: 3%;
}
.text-service h1 {
    text-align: start;
    margin-top: 4%;
    color: white;
    width: 100%;
}
.text-service p {
       
        font-size: 10px;
        text-align: start;
    margin-top: 4%;
    color: white;
}
 .text-service a {
    text-decoration: none;
    font-family: 'Roboto Slab';
 }
s
.mobile-image2 {
    display: flex;
    width: 90%;
    height: 26rem;
}
.two-header {
    display: none;
}
 .to-know {
    font-family: 'Roboto Slab';
    color: #00AEEF;
    font-size:85%;
    
 }
 .banner-know {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}
.banner-know img {
    width: 100%;
}
.banner-content-know {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #033244;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .banner-content-know h1 {
    font-size: 18px;
    color: white;
  }
  .banner-content-know p {
    font-size: 16px;
    margin-top: 10px;
    font-weight: revert;
    font-family: 'Roboto Slab';
    font-size: 13px;
    color: #07a5de;
    margin-bottom: 2%;
}
.button-mobile4 {   
    width: 55%;
    height: 33px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #00AEEF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10PX;
}
.mobile-button4 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 0;
}
.desktop-image3 {
    width: 100%;
    height: 19rem;
}   
 .line3 {
    display: flex;
    justify-content: center;
    width: 100%;
   
    font-size: medium;
    font-weight: bolder;
}
.menu-divider3{
    color: #0089BC;
    width: 85%;
    background-color: #0089BC;
    height: 2px;
    margin-bottom: 5%;
}
 .on-top {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
 }
 .on-top h1 {
    width: 80%;
    margin-left: 10%;
}
.on-top p {
    width: 76%;
    margin-left: 10%;
    text-align: start;
    margin-top: 1%;
}
 .certificates  {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
 }
 .certificates img {
    width: 28%;
    height: 6rem;
 }
 .input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27rem;
    margin-top: 0%;
    margin-bottom: 2rem;
}
.input {
    width: 100%;
    background-color: #a9a3a338;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    width: 81%;
    height: 92%;
}
.input h1 {
    width: 78%;
    MARGIN-TOP: 15%;
    TEXT-ALIGN: CENTER;
    color: #033244;
    font-size: 22px;
}
.input form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5%;
    align-items: center;
}
.input p {
    color: #0089BC;
    margin-top: 5%;
    font-family: inherit;
    font-size: 67%;
    width: 100%;
    margin-bottom: 19%;
    margin-top: 9%;
}


.input form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 5%;
    align-items: center;
    height: 22%;
    width: 85%;
}
.mobile-button5 {
    margin-top: 20px;
    width: 63%;
}
.button-mobile5 {
    width: 100%;
    height: 50px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}
 input {
    width: 90%;
    height: 2rem;
    text-align: center;  
 }
 .mobile-image2 {
    display: flex;
}
 .footer-mobile {
    background-color: #033244;
    height: 100%;
    display: flex;
}
    .footer-navbar {
        margin-left: 10%;
        list-style: none;
    }
  .footer-navbar img {
    width: 25%;
    height: 29px;
    margin-top: 10%;
    margin-bottom: 6%;
    margin-left: 2%;
}
.footer-navbar li {
    list-style: none;
    padding: 1%;
    margin-left: 3px;
}
.footer-navbar a {
    text-decoration: none;
    color: #00AEEF;
    font-size: 14px;
}
 ul h1  {
    color: #E2F7FF;
    margin-bottom: 11px;
    font-size: 19px;
    margin-left: 2%;
}
.footer-nav {
    margin-bottom: 10%;
}
.opening-hours a {
    color: #B2EAFF
}
.social {
    background-color: black;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 4%;
    justify-content: center;
    width: 80%;
    height: 5rem;
}
.social h1 {
    color: #71D8FF;
}
.social-icons {
        width: 58%;
        display: flex;
        justify-content: center
}
 .social-icons i {
    display: flex;
    justify-content: center;
    width: 1px;    
}
.social-icons h1 {
        color: #71D8FF;   
        margin-top: 1%;
}
.last-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-media  a{
    font-size: 31px;
    color: #71D8FF
  }
  .copyrights {
    color: gray;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.copyrights h1 {
    width: 89%;
    color: white;
    font-size: 15px;
    font-family: ui-serif;
    margin-bottom: 14%;
}
.carrossel-navigation {
    width: 500%;

}
.carrossel-prev {
    display: none;
}
.carrossel-next {
   display: none;
}
.carrossel-slide-products img {
    width: 69px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop-image2 {
    display: none;
}
.desktop-image {
    display: none;
}
.text6 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.on-top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    GAP: 0;
}

@media (max-width: 360px) {
    .section-columns {
        background-color: #033244;
        width: 90%;
        height: 21rem;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .carrossel-slide-products img {
        width: 69px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .carrossel-slide-products h1 {
        font-size: 5px;
        margin-top: 5px;
        margin-bottom: 0rem;
        width: 3rem;
        text-align: center;
    }

    .carrossel-slide-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #bcb6b6;
        font-size: 30px;
        color: #676767;
        height: 3rem;
    }
.carrossel-products {
    gap: 7px;
    width: 25%;
    height: 4rem;
}
.button-mobile2 {
    top: 1106px;
    left: 300px;
    width: 64%;
    height: 36px;
    background: var(--unnamed-color-71d8ff) 0% 0% no-repeat padding-box;
    background: #71D8FF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}


    }

 


  
  

 



  
    
   
    
  
